exportClasses(AbstractClass,NamespaceAware,Parent,Content,Document,Namespace,Text,Element,Attribute)
export(AbstractClass,NamespaceAware,Parent,Content,Document,Namespace,Text,Element,Attribute)
export(printp,printp0,isRc)
export(hello)
import(methods)
